<!-- _includes/people.html -->

<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.liquid
          path=project.img
          alt="person thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title">{{ project.title }}</h2>
          <p class="card-text">{{ project.position }}</p>
          <div class="row ml-1 mr-1 p-0">
            
          </div>
        </div>
      </div>
    </a>
</div>
