<div class="col-sm-3" style="text-align: center; padding-bottom: 5%">

  {% if person.redirect %}
  <a href="{{ person.redirect }}">
  {% else %}
  <a href="{{ person.url | relative_url }}">
  {% endif %}
  <div class="">
        <p>
          
          
        {%- include figure.html
          path=person.img
          width=150px
          max-width=150px
          alt="person thumbnail" -%}
          
          <strong>{{ person.name }}</strong><br>
          <em>{{ person.position }}</em><br>
          {{ person.email }}<br>
          {% for theme in person.themes %}
            <div class="badge badge-pill badge-info">{{ theme }}</div>
          {% endfor %}
        </p>
   </div>
   </a> 
</div>
